<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/bootstrap.css">
</head>
<body>
    <div id="lbxhzl">
        <ul>
            <li v-for="item in list">姓名是：{{ item.name }}</li>
        </ul>

        <hr>

        <table class="table table-border table-hover table-striped">
            <thead>
                <th>索引</th>
                <th>Id</th>
                <th>姓名</th>
            </thead>

            <tbody>
                <tr v-for="(item, index) in list" :title="item.name + index" :key="item.id">
                    <td>{{ index }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../lib/vue-2.6.12.js"></script>
    <script>
        const vueObj = new Vue({
            el: '#lbxhzl',
            data: {
                list: [
                    { id: 1, name: 'zhangsan'},
                    { id: 2, name: 'lisi'},
                    { id: 3, name: 'wangwu'},
                ]
            }
        })        
    </script>
</body>
</html>