<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id ="tjxrzl">
        <button @click="btnClick()">Turn flag</button>

        <p v-if="flag">这是被 v-if 控制的元素</p>
        <p v-show="flag">这是被 v-show 控制的元素</p>

        <hr>

        <select v-model="type">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <div v-if="type === 'A'">优秀</div>
        <div v-else-if="type === 'B'">良好</div>
        <div v-else-if="type === 'C'">一般</div>
        <div v-else>差</div>
    </div>
    <script src="../lib/vue-2.6.12.js"></script>
    <script>
        const vm = new Vue({
            el: '#tjxrzl',
            data: {
                flag: true,
                type: 'A'
            },
            methods: {
                btnClick(){
                    this.flag = !this.flag
                }
            }
        })
    </script>
</body>
</html>